@model List<Pelicula>

<a asp-controller="Peliculas" asp-action="crearPelicula" class="btn btn-info">Crear Pelicula</a>

<table class="table table-info">
    <thead>

        <tr>
            <th>IdPelicula</th>
            <th>IdDistribuidor</th>
            <th>IdGenero</th>
            <th>Titulo</th>
            <th>IdNacionalidad</th>
            <th>Argumento</th>
            <th>Foto</th>
            <th>FechaEstreno</th>
            <th>Actores</th>
            <th>Duracion</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Pelicula pel in Model) { 
        
            <tr>
                <td>@pel.IdPelicula</td>
                <td>@pel.IdDistribuidor</td>
                <td>@pel.IdGenero</td>
                <td>@pel.Titulo </td>
                <td>@pel.IdNacionalidad</td>
                <td>@pel.Argumento</td>
                <td><img src="@pel.Foto" height="50" width="50" /></td>
                <td>@pel.FechaEstreno</td>
                <td>@pel.Actores</td>
                <td>@pel.Duracion</td>
                <td>@pel.Precio</td>
                <td>
                    <a asp-controller="Peliculas" asp-action="modificarPelicula" asp-route-idPelicula="@pel.IdPelicula" class="btn btn-warning">Modificar</a>
                    <a asp-controller="Peliculas" asp-action="eliminarPelicula" asp-route-idPelicula="@pel.IdPelicula" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
